@use "sass:color";
@use './colors.scss';
@use './mixins.scss';

@font-face {
    font-family: icons;
    src: url('./icons.woff2');
}
* {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}
input {
    font-size: inherit;
}
body {
    margin: 0 16px;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: colors.$dark;
}
.input {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: 0;
    height: 44px;
    padding: 0.5em 0.75em;
    width: 100%;
    &:focus {
        @include mixins.focus;
    }
}

section {
    margin: 1em 0;
}
.label {
    margin-bottom: 0.5em;
}

.button {
    margin: 0;
    outline: 0;
    border: 0;
    border-radius: 3px;
    height: 44px;
    cursor: pointer;
    padding: 0 1em;
    font-size: inherit;
    color: #fff;
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    &.block {
        display: block;
        width: 100%;
    }
    &.primary {
        @include mixins.button(colors.$primary);
    }
    &.secondary {
        color: colors.$dark;
        @include mixins.button(colors.$secondary);
    }
    &.ghost {
        background: #fff;
        color: colors.$dark;
        border: 1px solid colors.$border;
        &:hover {
            border-color: color.scale(colors.$border, $lightness: -15%);
        }
        &:active {
            border-color: color.scale(colors.$border, $lightness: -45%);
        }
        &:focus:not(:active) {
            @include mixins.focus;
        }
    }
}
